.tx-container {
  padding-top: px2rem(20px);
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom,
    linear-gradient(
      to bottom,
      var(--md-primary-fg-color),
      rgb(77,182,172,1) 99%,
      var(--md-default-bg-color) 99%
    );
}

@page {

    size: a4 portrait;
    margin-bottom: 4cm;
    margin-top: 3cm; 

    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.5;
    white-space: pre;

      table, figure {
        page-break-inside: avoid;
      }
}

@page:left {
    margin-left: 2cm;
    margin-right: 3cm;

    @bottom-left {
        font-size: 10pt;
        content: counter(page);
    }
}


@page:right {
    margin-left: 3cm;
    margin-right: 2cm;

    @bottom-right {
        font-size: 10pt;
        content: counter(page);
    }
}